@font-face {
    font-family: VB;
    src: url(./Font/Vazir-Bold.woff);
}

* {
    font-family: VB;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: 0;
}

body>.google-icon {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

body>h4 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 80px;
    z-index: 999;
}

.google {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 150px;
}

.google-logo {
    margin-left: auto;
    margin-right: auto;
}

.google-search {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 50px;
    padding: 8px 8px 8px 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease;
    background-color: #EEEEEE;
    background-image: url('./image.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
}

.google-search::placeholder {
    color: #757575;
}

.google-search:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    transform: scale(1.02);
}

.google-search:focus::placeholder {
    color: black;
}

.google-search:active {
    outline: none;
    width: 660px;
}

p {
    color: #000;
}

.google-icon img {
    width: 40px;
    height: 40px;
    transition: all 0.2s ease;
}

.google-icon img:hover{
   transform: scale(1.33);
   filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.6));
}
.google-icon-ins {}
.google-icon-tel {}
.google-icon-x {}
.google-icon-github {}
#google-icon-all{}
